<nav class="navbar navbar-expand-lg navbar-light bg-light">
       <div class="container">
              <a class="navbar-brand" href="#">Dataprop</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                     <%if user_signed_in? %>
                            <ul class="navbar-nav">
                                   <li class="nav-item active">
                                          <a class="nav-link" href="#">Home</a>
                                   </li>
                                   <%# <li class="nav-item">
                                          <a class="nav-link" href="#">Dashboard</a>
                                   </li> %>
                                   <li class="nav-item">
                                          <a class="nav-link" href="#">Explore</a>
                                   </li>
                            </ul>
                     <%else%>
                            <ul class="navbar-nav">
                                   <li class="nav-item">
                                          <a href="/users/sign_in" class="nav-link">Ingresar</a>
                                   </li>
                                   <li class="nav-item">
                                          <a href="/users/sign_up" class="nav-link">Crear una cuenta</a>
                                   </li>
                            </ul>
                     <%end%>
                     
              </div>
       </div>
</nav>